/* css rest */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

html {
    font-size: 14px;
}

/* nav section */

.bg-container {
    background: linear-gradient(164deg, #235d80 47%, #00000000 117%, #000000);
    ;
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.bg-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../public/images/images1.jfif);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 122%;
    background-position: right;
    /* z-index: 1; */
    opacity: 0.7;
}

.nav {
    position: relative;
    z-index: 10;
    background-color: #00000082;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.nav-1st,
.nav-2nd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    background-image: url(../public/images/images.png);
    background-size: 100% 85px;
    width: 10rem;
    border-radius: 17px;
    height: 5.33rem;
}

.nav-2nd ul,
.amount-cart ul,
.login ul,
.anchors ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-2nd ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0 13px;
    color: white;
    text-decoration: none;
}

.amount-cart ul li a,
.login ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0px 11px;
    color: white;
    text-decoration: none;
}

.login-routes{
    position: absolute;
    top: 30px;
    right: -30px;
    background-color: #9ca4a9;
    padding: 15px;
    width: 84px;
    border-radius: 15px;
}

.login ul li a {
    padding: 0 0 0 10px;
}

.nav-2nd-span {
    font-size: 1.4rem;
    font-weight: 799;
}

.anchors ul li a {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 14px;
    /* color: white; */
    text-decoration: none;
}

.nav-2nd i {
    font-size: 1.45rem;
    position: relative;
}

.product-count {
    padding: 2px 4px;
    position: absolute;
    top: -14px;
    right: -9px;
    background-color: white;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    color: black;
}

.burger-icon {
    width: 42px;
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-icon .b-i-1 {
    width: 30px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
}

.burger-icon-parent {
    display: none;
}

.bg-content {
    height: calc(100% - 100px);
    display: flex;
    justify-content: start;
}

.bg-content-container {
    color: white;
    font-weight: 600;
    margin: 9vw 0 207px 78px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-con-1 {
    font-size: 4rem;
    width: 43rem;
    font-weight: bolder;
}

.bg-con-2 {
    margin: 10px 0 20px;
    font-size: 1.88rem;
}

.bg-btn {
    width: 10.1rem;
    height: 3.3rem;
    font-weight: 600;
    font-size: 1rem;
    transition-property: all;
    transition-duration: 0.6s;
    cursor: pointer;
}

.bg-btn-1 {
    margin-right: 17px;
    color: #000000;
    background-color: #f5f7f9;
    border: none;
}

.bg-btn-2 {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.bg-btn-1:hover {
    background-color: #000000;
    color: #f5f7f9;
}

.bg-btn-2:hover {
    color: #000000;
    background-color: white;
}

.footer {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-txt {
    margin-left: 30px;
    font-size: 1.3rem;
}

.footer-icon {
    font-size: 1.7rem;
    margin-right: 30px;
    padding: 0 0 10px;
}

.footer-icon i {
    padding-left: 10px;
    color: black;
}

.footer-icon i:hover {
    color: #0075be;
}


.sec-7 {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 0 0 55px;
    font-size: 2rem;
    font-weight: bolder;
}

.sec7-txt a {
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}

.sec7-txt a:hover {
    color: #0075be;
    cursor: pointer;
}

.sec-8 {
    padding: 80px 160px 110px;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec8-content {
    display: flex;
    flex-direction: column;
    height: 80%;
    /* background-color: chartreuse; */
    margin: 5px;
}

.sec8-con-1 {
    margin: -10px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.sec8-con-2 {
    margin-bottom: 25px;
}

.sec8-content h2 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.sec8-content a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0 0 0 / 51%);
    margin: 8px 0;
}

.sec8-content a:hover {
    color: #0075be;
}

.sec8-content input {
    height: 40px;
    width: 160%;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 0 10px;
    outline: none;
}

.sec8-content button {
    padding: 16px 28px;
    background-color: #0084d6;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

.sec8-content button:hover {
    background-color: #0075be;
    cursor: pointer;
}

.sec-6 {
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}

.sec6-content {
    height: 250px;
    margin: 5px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec6-con-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 60px;
}

.sec6-con-2 {
    font-size: 20px;
}

.sec6-con-3 {
    color: gray;
    font-size: 16px;
    width: 100%;
}

.sec-4 {
    background-color: #f5f7f9;
}

.hd {
    padding-top: 110px;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 auto;
    width: 372px;
}

.hd-border {
    height: 4px;
    background: #0084d6;
    width: 40%;
    margin: 25px auto 20px;
}

.pro-cards-sec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 35px;
}

.pro-card {
    height: auto;
    background-color: #dedede5c;
    width: 19%;
    margin: 20px 0;
    padding-bottom: 30px;
}

.pro-img {
    background-image: url(images/product-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    margin-bottom: 12px;
    position: relative;
    cursor: auto;
}

.addtocart-hover {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.pro-txt-parent {
    width: 95%;
    text-transform: uppercase;
    margin-left: auto;
}

.pro-name {
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.anchor {
    color: black;
    text-decoration: none;
}

.pro-category {
    font-size: 1rem;
    color: #818182;
    margin-bottom: 6px;
}

.pro-price {
    margin-bottom: 7px;
    font-size: 1.5rem;
}

.pro-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    margin-bottom: 10px;
}

.pro-color-picker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: springgreen;
}

.pro-rating {
    color: #979790;
    font-size: 1.3rem;
}

/* .nav ul li a {
    color: black;
} */
/* 
.product-count {
    background-color: black;
    color: white;
} */
/* 
*/

.product-main-parent {
    background-color: #f5f7f9;
}

.product-main-container {
    padding: 0px 20px;
    margin: 0 7%;
}

.product-show {
    padding: 60px 0;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.show-txt-con {
    height: 550px;
    width: 50%;
}

#productCard {
    width: 50%;
    overflow: hidden;
    height: 43vmax;
    cursor: zoom-in;
}

.show-img {
    background-image: url(images/product-1.jpg);
    width: 100%;
    height: 43vmax;
    background-repeat: no-repeat;
    background-size: 118% 100%;
    background-position-x: center;
}

.show-txt {
    margin: 50px 35px 0;
}

.show-txt h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: lighter;
}

.show-txt p {
    margin-bottom: 30px;
    font-size: 24px;
}

#addtocartproductpage {
    background-color: #0084d6;
    width: 80%;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bolder;
}

#addtocartproductpage:hover {
    background-color: #0075be;
}

.product-desc-content-con-2 {
    display: flex;
}

.product-desc-content-con-3 {
    display: flex;
    margin: 5px 0;
}

.product-desc-content-con-4 {
    display: flex;
    flex-direction: row-reverse;
}

.product-desc-content-con-4 h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.product-desc-content-con-4 p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.7;
}

.product-desc-content-con-2-img {
    height: 56vmin;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 2px;
}

.product-desc-txt-4-con {
    width: 65%;
    margin: auto;
}

.product-desc-txt-4-con-2nd {
    width: 80%;
    margin: auto;
}

.product-desc-txt-4-con h5 {
    font-size: 18px;
}

.product-desc-txt-4-con p {
    font-size: 16px;
    margin: 5px 0px 25px;
    line-height: 1.7;
    text-align: justify;
}


/* //signin page */

.login-con {
    border-radius: 5px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    background-image: url(images/logo-dark.jpg);
    background-size: 100% 100%;
    width: 150px;
    height: 80px;
    margin-bottom: 20px;
}


.form-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.u-name-email input {
    width: 95.9%;
    height: 28px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #8c8f94;
    padding: 2%;
    margin-top: 12px;
}

.u-name-email input:focus {
    outline: 1.5px solid #2271b1;
}

.check-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

button {
    background-color: #0084d6;
    color: #fff;
    height: 32px;
    border: 1px solid #2271b1;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #1867a3;
}

a {
    font-size: 13px;
    color: #50575e;
    text-decoration: none;
    margin-top: 15px;
}

.a-con {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* add to cart sidebar */

.cart-sidebar {
    background-color: white;
    color: black;
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.cart-sidebar-toggle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-sidebar-head {
    border-bottom: 1px solid #e2e2e2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.add-to-cart-txt {
    font-size: 1.3rem;
    width: 146px;
    text-align: end;
}

.add-to-cart-btn {
    transform: rotate(45deg);
    font-size: 4rem;
    width: 50px;
    font-weight: 100;
    cursor: pointer;
}

.add-to-cart-shopbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#checkout {
    margin-bottom: 10px;
    display: none;
}

.subtotal {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.subtotal p {
    padding: 0 10%;
    font-size: 1.4rem;
}

.add-to-cart-shopbtn button {
    width: 80%;
    height: 50px;
    color: white;
    background-color: #0084d6;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.add-to-cart-shopbtn button:hover {
    background-color: #0075be;
}

.add-to-cart-msg-con {
    height: 76%;
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.7rem;
    justify-content: center;
}

.nav-sidebar {
    background-color: white;
    color: black;
    height: 100vh;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav-sidebar-toggle {
    width: 80%;
    overflow-y: scroll;
}

.nav-sidebar-close-btn {
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    font-size: 4rem;
    width: 50px;
    font-weight: 100;
    cursor: pointer;
}

.nav-sidebar-login a {
    font-size: 2rem;
    padding-left: 40px;
    color: black;

}

.nav-sidebar-anchors {
    height: 60px;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    background-color: #f5f7f9;
    align-items: center;
    padding-left: 35px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.nav-sidebar-anchors a {
    text-decoration: none;
    /* color: black; */
}

.addtocart-products {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.addtocart-products-name {
    padding: 0 0 0 15px;
    font-size: 13px;
}

.addtocart-products-price {
    margin: 10px 0;
}

.addtocart-products-parent {
    overflow-y: scroll;
    height: 100%;
    display: none;
}

.addtocart-delete-btn {
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    font-size: 45px;
    cursor: pointer;
}


/* //active */

.active {
    color: wheat;
}

.inactive {
    color: white;
}

.inactive:hover{
    color: rgb(249, 249, 177);
    transition: color .5s ease-in-out;
}

.active2 {
    color: black;
}

.inactive2 {
    color: #a2a099;
}

/* //about */

.bg-container::before {
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-image: url(images/about-bg.jpg);
}

.about-sec-2-container {
    background-color: #f5f7f9;
    padding: 60px;
    display: flex;
}

.ab-sec-2-first-parent {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 65px 55px;
}

.about-bg-con {
    height: 80vh;
    background: linear-gradient(180deg, #0084d6 -50%, #000000 100%);
}

.ab-sec-2-txt h1 {
    margin: 25px 0;
    font-size: 42px;
}

.ab-sec-2-line {
    background-color: #0084d6;
    height: 5px;
    width: 18%;
    border-radius: 5px;
}

.ab-sec-3 {
    padding: 100px 0;
    margin: 0 120px;
}

.sec-3-content-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-sec-3-txt1 {
    font-size: 20px;
}

.ab-sec-3-txt2 {
    font-size: 25px;
    margin: 25px 0px;
}

.ab-sec-3-txt3 {
    line-height: 1.8;
    width: 60%;
    text-align: center;
}

.ot-profiles-con {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ot-pro {
    background: #f5f7f9;
    height: 250px;
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ot-pro-name {
    margin: 20px 0px 12px;
    font-size: 20px;
}

.ot-pro-profession {
    font-size: 16px;
    color: #0c01018c;
}

.ot-pro-img img {
    width: 100px;
}

.followus-parent {
    height: 450px;
    position: relative;
    background: linear-gradient(#0a0a0a75, #090909ab);
}

.followus-parent::before {
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: absolute;
    background-image: url(images/about-sec-last.jpg);
    background-size: 100% 114%;
    background-position-y: top;
}

.followus-content-con {
    height: 100%;
    width: 40%;
    background-color: #f5f7f9;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followus-con-1 {
    height: 5px;
    width: 80px;
    background-color: #0084d6;
}

.followus-con-2 {
    margin: 50px 0 70px;
    font-size: 30px;
}

.followus-con-3 i {
    color: black;
    font-size: 30px;
    padding: 0 20px;
}

.followus-con-3 i:hover {
    color: #1882c4;
}