/* css rest */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

html {
    font-size: 14px;
}

/* nav section */

.bg-container {
    background: linear-gradient(164deg, #235d80 47%, #00000000 117%, #000000);
    ;
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.bg-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(../public/images/images1.jfif);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 122%;
    background-position: right;
    /* z-index: 1; */
    opacity: 0.7;
}

.nav {
    position: relative;
    z-index: 10;
    background-color:#00000082;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.nav-1st,
.nav-2nd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    background-image: url(../public/images/images.png);
    background-size: 100% 85px;
    width: 10rem;
    border-radius: 17px;
    height: 5.33rem;
    cursor: pointer;
}

.nav-2nd ul,
.amount-cart ul,
.login ul,
.anchors ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-2nd ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0 13px;
    color: white;
    text-decoration: none;
}

.amount-cart ul li a,
.login ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0px 11px;
    color: white;
    text-decoration: none;
}

.login ul li a {
    padding: 0 0 0 10px;
}

.nav-2nd-span {
    font-size: 1.4rem;
    font-weight: 799;
}

.anchors ul li a {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 14px;
    color: white;
    text-decoration: none;
}

.nav-2nd i {
    font-size: 1.45rem;
    position: relative;
}

.product-count {
    padding: 2px 4px;
    position: absolute;
    top: -14px;
    right: -9px;
    background-color: white;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    color: black;
}

.burger-icon {
    width: 42px;
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-icon .b-i-1 {
    width: 30px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
}

.burger-icon-parent {
    display: none;
}

.bg-content {
    height: calc(100% - 100px);
    display: flex;
    justify-content: start;
}

.bg-content-container {
    color: white;
    font-weight: 600;
    margin: 9vw 0 207px 78px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-con-1 {
    font-size: 4rem;
    width: 43rem;
    font-weight: bolder;
}

.bg-con-2 {
    margin: 10px 0 20px;
    font-size: 1.88rem;
}

.bg-btn {
    width: 10.1rem;
    height: 3.3rem;
    font-weight: 600;
    font-size: 1rem;
    transition-property: all;
    transition-duration: 0.6s;
    cursor: pointer;
}

.bg-btn-1 {
    margin-right: 17px;
    color: #000000;
    background-color: #f5f7f9;
    border: none;
}

.bg-btn-2 {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.bg-btn-1:hover {
    background-color: #000000;
    color: #f5f7f9;
}

.bg-btn-2:hover {
    color: #000000;
    background-color: white;
}

.footer {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-txt {
    margin-left: 30px;
    font-size: 1.3rem;
}

.footer-icon {
    font-size: 1.7rem;
    margin-right: 30px;
    padding: 0 0 10px;
}

.footer-icon i {
    padding-left: 10px;
    color: black;
}

.footer-icon i:hover {
    color: #0075be;
}


.sec-7 {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 0 0 55px;
    font-size: 2rem;
    font-weight: bolder;
}

.sec7-txt a {
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}

.sec7-txt a:hover {
    color: #0075be;
    cursor: pointer;
}

.sec-8 {
    padding: 80px 160px 110px;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec8-content {
    display: flex;
    flex-direction: column;
    height: 80%;
    /* background-color: chartreuse; */
    margin: 5px;
}

.sec8-con-1 {
    margin: -10px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.sec8-con-2 {
    margin-bottom: 25px;
}

.sec8-content h2 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.sec8-content a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0 0 0 / 51%);
    margin: 8px 0;
}

.sec8-content a:hover {
    color: #0075be;
}

.sec8-content input {
    height: 40px;
    width: 160%;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 0 10px;
    outline: none;
}

.sec8-content button {
    padding: 16px 28px;
    background-color: #0084d6;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

.sec8-content button:hover {
    background-color: #0075be;
    cursor: pointer;
}

.sec-6 {
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}

.sec6-content {
    height: 250px;
    margin: 5px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec6-con-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 60px;
}

.sec6-con-2 {
    font-size: 20px;
}

.sec6-con-3 {
    color: gray;
    font-size: 16px;
    width: 100%;
}
